* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: green;
}

.container {
    text-align: left;
    padding-top: 100px;
}

.container h1 {
    font-size: 38px;
    border: green;
    border-radius: 5px;
    background: white;
    width: 530px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}